body {
    background-color: white;
}


/*header*/

.menu {
    list-style: none;
    padding: 0%;
    text-transform: uppercase;
    line-height: 25px;
    width: 40%;
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
    padding-bottom: 1%;
}

.menu li {
    display: inline-block;
    text-align: center;
    position: relative;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    padding: 13px;
}

.menu li a:hover {
    background-color: black;
    color: white;
}

.logoMarca {
    left: 236px;
    margin-left: 7%;
    margin-top: 5%;
    width: 70%;
    height: 30%;
}

.iconosHeader {
    position: absolute;
    right: 5%;
    top: 27%;
    width: 10%;
}

.headerIndex {
    background-color: white;
    position: fixed;
    top: 0%;
}


/*seccion 1*/

img {
    margin: 5px;
    width: 20%;
    height: 40%;
}

.imagenes {
    margin-top: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.foto1{
    transition: all 0.2s ease;
}
.foto1:hover{
    transform: scale(1.2,1.2);
}
.foto2{
    transition: all 0.2s ease;
}
.foto2:hover{
    transform: scale(1.2,1.2);
}
.foto3{
    transition: all 0.2s ease;
}
.foto3:hover{
    transform: scale(1.2,1.2);
}
.foto4{
    transition: all 0.2s ease;
}
.foto4:hover{
    transform: scale(1.2,1.2);
}
.foto5{
    transition: all 0.2s ease;
    width: 19.5%;
    height: 39.5%;
}
.foto5:hover{
    transform: scale(1.2,1.2);
}
.imagenHorizontal {
    width: 500%;
    height: 250%;
    padding-top: 20%;
    padding-bottom: 10%;
}

/*mobile first - celular*/
@media only screen and (max-width: 834px) and (min-width: 415px) {
    img {
        margin: 3px;
        width: 20%;
        height: 30%;
    }
    .imagenes {
        margin-top: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center
    }
    .menu li {
        display: flex;
        text-align:left;
        position: relative;
        flex-direction:column;
    }
    .iconosHeader {
        position: absolute;
        right: 5%;
        top: 8%;
        width: 13%;
        display: flex;
    }
    .redesIconos{
        position: absolute;
        display: flex;
        min-width: 10%;
    }
}
/*mobile first - tablet*/
@media only screen and (max-width: 1024px) and (min-width: 834px) {
    img {
        margin: 3px;
        width: 20%;
        height: 30%;
    }
    .imagenes {
        margin-top: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center
    }
    .iconosHeader {
        position: absolute;
        right: 10%;
        top: 18%;
        width: 10%;
        display: flex;
    }
}    

/*tabla*/

table {
    font-family: 'Poppins', sans-serif;
}

ol li {
    font-family: 'Poppins', sans-serif;
}

form {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


/*Niñas*/

.portada {
    border: none;
    width: 7030px;
    height: 1300px;
    display: flex;
}
.spring{
    padding-bottom: 3%;
    margin-left: 7%;
}
.fotosNiñas{
    padding-right: 9%;
    padding-left: 7%;
    grid-gap: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 400px 200px 400px 200px;
    grid-template-areas: "vestidoBlanco sombrero amigas caballo";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vestidoBlanco{
    grid-area: vestidoBlanco;
    
}
.sombrero{
    grid-area: sombrero;
}
.amigas{
    grid-area: amigas;
}
.caballo{
    grid-area: caballo;
}
.imgFotos{
    width: 100%;
    height: 100%;
}
.imgFotos:hover{
    color: oldlace;
    opacity: .7;
}
.texto{
    font-weight: bolder;
    font-size: 14px;
}


/*Deco*/

.productos {
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 23%;
    grid-gap: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "espejo mesa manta" "silla macetaNika macetaCala";
}

.espejo {
    grid-area: espejo;
}

.mesa {
    grid-area: mesa;
}

.manta {
    grid-area: manta;
}

.silla {
    grid-area: silla;
}

.macetaNika {
    grid-area: macetaNika;
}

.macetaCala {
    grid-area: macetaCala;
}

p {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 8px;
    font-size: 13px;
    display: flex;
    flex-direction:row;
}

.producto {
    display: flex;
    flex-direction: column;
}

.imgProduct {
    width: 100%;
    height: 100%;
}
.imgProduct:hover{
    color: oldlace;
    opacity: .7;
}
.espejoCora{
    font-weight: bolder;
    font-size: 14px;
}
.mesaRebecca{
    font-weight: bolder;
    font-size: 14px;
}
.mantaLanin{
    font-weight: bolder;
    font-size: 14px;
}
.sillaParis{
    font-weight: bolder;
    font-size: 14px;
}
.macetaN{
    font-weight: bolder;
    font-size: 14px;
}
.macetaC{
    font-weight: bolder;
    font-size: 14px;
}

/*nueva colección*/
.portada{
    height: 80%;
    padding-top: 20%;
}

/*footer*/

.marcaFooter {
    background-color: black;
    text-align: center;
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 35%;
    padding-right: 36%;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

h3 {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin: 50px;
    font-size: 13px;
    font-weight: normal;
}
.nosotros:hover{
    color: #D86A7E;
}
.ayuda:hover{
    color: #D86A7E;
}
.redesSociales {
    text-align: center;
    text-transform:inherit;
}

.redesIconos {
    position: relative;
    left: 88%;
    bottom: 15%;
    width: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: -158px;
}
.instagram{
    display: flex;
}
.redes{
    position: relative;
    left: 88%;
    bottom: 15%;
    width: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: -158px;
}